* {
  font-family: Arial;
  background-color: rgb(229, 219, 238);
  color: #000;
}

.h1 {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  color: #6b17d7;
  text-align: center;
}

.p,
label {
  font-size: 18px;
  text-align: center;
}

.form-group {
  margin: 20px 40px 25px 40px;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-left: 10px;
}

textarea,
select,
.txt {
  padding: 3px 0 3px 10px;
  font-size: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border-color: #fff;
  min-height: 30px;
}

#submit {
  display: block;
  width: 100%;
  background-color: #6004b1;
  color: #fff;
  font-size: 17px;
  border-color: #6004b1;
  border-style: solid;
  border-width: 6px;
  border-radius: 20px;
}
